.cart-container{
    padding: 50px;
    width: 100%;
}
.cart-text{
    margin-left: 6rem;
    margin-top: 3rem;
    padding: 15px;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  } 
  .cart-head{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: flex-end;
  }
  .cart-head button{
    padding: 5px;
    height: 25px;
    margin-bottom: 1.5rem;
  }
.cart-container th,
.cart-container td {
    text-align: center;
    padding: 10px;
}
.counter{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.counter button{
    padding: 5px;
    border-radius: 5px;
    height: 25px;
}
@media (width < 832px) {
    .hide{display: none;}
}
@media(width < 560px){
.table-container{
    /* flex-direction: row; */
}
}