/* Navbar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 40px;
    background-color: white;
    z-index: 100;
}
.navbar .menu{
    position: fixed;
    top: 0;
    left: -1rem;
    background-color: orange;
    height: 80vh;
    width: 5rem;
    padding: 5rem 0;
    transition: .5s;
}

.navbar .menu ul{
    margin-top: 3rem;
    display: grid;
    place-items: start;
    gap: 3rem;
    font-size: 20px;
    overflow: hidden;
}
.navbar .menu ul li{
    width: 10rem;
}
.navbar .logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.navbar .logo img{
    width: 6rem;
}
.toggleMenu{
    font-size: 25px;
    cursor: pointer;
    position: sticky;
    z-index: 1000;
    margin-left: -1.7rem;
    padding: 10px;
}
.navbar .menu .menu-icon{
    margin-right: 20px;

}


.nav-search{
    display: flex;
    align-items: center;
}
.nav-search input{
    padding: 10px;
    width: 30vw;
}
.nav-search .nav-search-icon{
    padding: 10.5px;
    border: 1px solid black;
    background-color: orange;
    cursor: pointer;
}
.small_input{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 3px;
    background: white;
    height: 5rem;
}
.small_input input{
    padding: 7px;
    width: 80vw;

}
.small_input .small_input_icon{
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
}
.user{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.user .cart, 
.account{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.user .account small,
.user .cart small{
    font-size: 10px;
}
.login-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    cursor: pointer;
}
.account-info{
    position: absolute;
    top: 5rem;
    right: 4rem;
    background: whitesmoke;
    padding: 10px;
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    display: grid;
}
.account-info .xmark{
    align-self: start;
    margin-bottom: 1rem;
    font-size: 20px;
}
.account-info small{
    margin-bottom: 2rem;
}
.account-info button{
    padding: 5px 10px;
    margin: 3px;
    width: 100%;
}
.account-info button{
    background: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.love{
    position: relative;
}

.love-counter{
    position: absolute;
    color: white;
    font-size: 15px;
    top: -5px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 77, 0);
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.user .user-icon{
    font-size: 25px;
    cursor: pointer;
    width: 33px;
    border-radius: 50%;
}
.user .small{
    display: none;
}

@media (width < 924px) {
    .navbar.logo img{
        width: 5rem;
    }
    .nav-search input{
        padding: 7px;
    }
    .nav-search .nav-search-icon{
        padding: 8px;
    }
    .user{
        gap: 1.5rem;
    }
    .user .user-icon{
        font-size: 20px;
    }
    .user .account h5,
    .user .cart h5{
    font-size: 10px;
    }
    .navbar .menu{
        font-size: 13px;
        width: 5rem;
    }
    .toggleMenu{
        font-size: 18px;
    }
}

@media (width < 735px) {
   .user .account .account-txt, 
    .user .cart{
        display: none;
    }
    .user .small{
        display: block;
    }
}
@media (width < 623px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav-search input{
        display: none;
    }
    .nav-search .nav-search-icon{
        background-color: transparent;
        border: none;
        font-size: 20px;
    }
    .nav-search{
        justify-self: end;
        margin-right: .9rem;
    }


}
