/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
    transition: all .5s;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a,
i,
img,
button{
    cursor: pointer;
}
form small{
    color: red;
    justify-self: start;
    margin-left: .5rem;
    display: none;
}
.body{
    overflow: hidden;
}
.body::after{
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
}

path{
    pointer-events:all;
}